<a href="https://colab.research.google.com/github/choljoohuck-del/Python25Strudy/blob/main/%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def add(a, b):
    return a + b
a = 3
b = 4
c = add(a,b)
print(c)

def say():
    return 'Hi'
d = say()
print(d)

7
Hi

In [ ]:
def add(a, b):
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))
add(8,5)

8, 5의 합은 13입니다.

In [ ]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result
result = add_many(1,2,3)
print(result)
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

6
55

In [ ]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":

        result = 1
        for i in args:
            result = result * i
    return result
result = add_mul('add', 1, 2, 3, 4, 5)
print(result)
result = add_mul('mul', 1, 2, 3, 4, 5)
print(result)

15
120

In [ ]:
def print_kwargs(**kwargs):
     print(kwargs)
print_kwargs(a=1)
print_kwargs(name='foo', age=3)
print_kwargs(name='홍길동', age=25, city='서울', job='개발자')

{'a': 1}
{'name': 'foo', 'age': 3}
{'name': '홍길동', 'age': 25, 'city': '서울', 'job': '개발자'}

In [ ]:
def create_profile(**info):
    print("=== 프로필 정보 ===")
    for key, value in info.items():
        print(f"{key}: {value}")
create_profile(이름='김철수', 나이=30, 직업='프로그래머', 취미='독서')

=== 프로필 정보 ===
이름: 김철수
나이: 30
직업: 프로그래머
취미: 독서

In [ ]:
def say_myself(name, age, man=True):
    print("나의 이름은 %s 입니다." % name)
    print("나이는 %d살입니다." % age)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")
say_myself("박응용", 27, 0)

나의 이름은 박응용 입니다.
나이는 27살입니다.
여자입니다.

In [ ]:
def vartest(a):
    a = a + 1
    return a
a = vartest(3)
print(a)

None

In [ ]:
a = 1
def vartest():
    global a
    a = a+3
vartest()
print(a)

4

In [ ]:
add = lambda a, b: a+b
result = add(3, 4)
print(result)

7

In [ ]:
def add(a, b):
    """
    두 숫자를 더하는 함수

    Parameters:
    a (int, float): 첫 번째 숫자
    b (int, float): 두 번째 숫자

    Returns:
    int, float: 두 숫자의 합
    """
    return a + b

# 독스트링 확인하기
print(add.__doc__)

    두 숫자를 더하는 함수

    Parameters:
    a (int, float): 첫 번째 숫자
    b (int, float): 두 번째 숫자

    Returns:
    int, float: 두 숫자의 합

In [ ]:
a = input()
a

hi

'hi'

In [ ]:
input("안내_문구")

안내_문구안내입니다

'안내입니다'

In [ ]:
age = input("나이를 입력하세요: ")
age = int(age)
print(age + 1)

나이를 입력하세요: 25
26

In [ ]:
print("2025", "08", "17", sep="-")
print("점프", "투", "파이썬", sep=" TO ")

2025-08-17
점프 TO 투 TO 파이썬

In [ ]:
for i in range(10):
   print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
# calculator.py
print("=== 간단한 계산기 ===")

# 사용자로부터 두 숫자 입력받기
num1 = float(input("첫 번째 숫자를 입력하세요: "))
num2 = float(input("두 번째 숫자를 입력하세요: "))

# 계산 결과 출력
print(f"{num1} + {num2} = {num1 + num2}")
print(f"{num1} - {num2} = {num1 - num2}")
print(f"{num1} * {num2} = {num1 * num2}")

if num2 != 0:
    print(f"{num1} / {num2} = {num1 / num2}")
else:
    print("0으로 나눌 수 없습니다.")

=== 간단한 계산기 ===
첫 번째 숫자를 입력하세요: 3
두 번째 숫자를 입력하세요: 5
3.0 + 5.0 = 8.0
3.0 - 5.0 = -2.0
3.0 * 5.0 = 15.0
3.0 / 5.0 = 0.6